Problem 1 : Given a two list.Create a third list by picking an odd-index element from the frist list and even index element form second.

In [20]:
listOne = [3 ,6,9,12,15,18,21]
listTwo = [4,8,12,16,20,24,28]

In [238]:
print(listOne[1:6:2])

[6, 12, 18]

In [239]:
print(listTwo[0:8:2])

[4, 12, 20, 28]

In [35]:
print(listOne[1:6:2]+listTwo[0:8:2])

[6, 12, 18, 4, 12, 20, 28]

Problem 2 : Given an input list removes the element at index 4 and add it to the 2nd position and also ,at the end of the list

In [241]:
#List = [54,44,27,79,91,42]

In [39]:
Originals_list = [34,54,67,89,11,43,94]
Originals_list.pop(4)
Originals_list.insert(2,11)
Originals_list.append(11)
print(Originals_list)

[34, 54, 11, 67, 89, 43, 94, 11]

Problem 3 : Given a list slice It into a 3 equal chunks and reverse each list

In [211]:
Originals_list1 = [11,45,8,23,14,12,78,45,89]
x = Originals_list1[0:3]
x.reverse()
print(x)
z = Originals_list1[3:6]
z.reverse()
print(z)
k = Originals_list1[6:9]
k.reverse()
print(k)

[8, 45, 11]
[12, 14, 23]
[89, 45, 78]

Problem 4 : Given a list iterate it and count the occurrence of each element and create a dictionary to show the count of each element

In [119]:
Originals_list2 = [11,45,8,11,23,45,23,45,89]
z = Originals_list2.count(11)
print("11 มีทั้งหมด \n >",z," ตัว ")
x = Originals_list2.count(45)
print("45 มีทั้งหมด \n >",x," ตัว ")
a = Originals_list2.count(8)
print("8  มีทั้งหมด \n >",a," ตัว ")
b = Originals_list2.count(23)
print("23 มีทั้งหมด \n >",b," ตัว ")
d = Originals_list2.count(89)
print("89 มีทั้งหมด \n >",d," ตัว ")

11 มีทั้งหมด
 > 2  ตัว
45 มีทั้งหมด
 > 3  ตัว
8  มีทั้งหมด
 > 1  ตัว
23 มีทั้งหมด
 > 2  ตัว
89 มีทั้งหมด
 > 1  ตัว

In [123]:
dict_a = {
    "11" : z,
    "45" : x,
    "8" : a,
    "23" : b,
    "89" : d
}
print(dict_a)

{'11': 2, '45': 3, '8': 1, '23': 2, '89': 1}

Problem 5 : Given a list of equal size create a set such that it shows the element from both the first set

In [30]:
First_List = ([2,3,4,5,6,7,8])
Second_List = ([4,9,16,25,36,49,64])
Result = {(6,36),(8,64),(4,16),(5,25),(3,9),(7,49),(2,4),}
print(First_List)
print(Second_List)
print(Result)

[2, 3, 4, 5, 6, 7, 8]
[4, 9, 16, 25, 36, 49, 64]
{(6, 36), (5, 25), (4, 16), (7, 49), (3, 9), (2, 4), (8, 64)}

In [3]:
First_List = ([2,3,4,5,6,7,8])
Second_List = ([4,9,16,25,36,49,64])
Result = zip(First_List, Second_List)
Result_Set = set(Result)
print(Result_Set)

{(6, 36), (5, 25), (4, 16), (7, 49), (3, 9), (2, 4), (8, 64)}

Problem 6  : Given a following two sets find the intersection and remove those elements from the first set

In [196]:
First_set = {65,42,78,83,23,57,29}
Second_set = {67,73,43,48,83,57,29}
print(First_set.intersection(Second_set))

{57, 83, 29}

In [195]:
First_set.remove(83)
print(First_set)

{65, 42, 78, 23, 57, 29}

Problem 7 : Given two sets,Checks if One Set is Subset or superset or superset of Another Set .if the subset is found delete all element from that set

In [240]:
#FirstSet = {27,43,34}
#seconSet = {34,93,22,27,43,53,48}

In [213]:
Firstset = {57,83,29}
Secondset = {67,73,43,48,83,57,29}
print(Firstset.issubset(Secondset))

True

In [214]:
Firstset = {57,83,29}
Secondset = {67,73,43,48,83,57,29}
print(Secondset.issubset(Firstset))

False

In [218]:
Firstset = {57,83,29}
Secondset = {67,73,43,48,83,57,29}
print(Firstset1.issuperset(Secondset1))

False

In [217]:
Firstset = {57,83,29}
Secondset = {67,73,43,48,83,57,29}
print(Secondset1.issuperset(Firstset1))

True

Problem 8 : Iterate a given list and Check if a given elemant already in a dictionary as a key's value if not delete it from the list

In [9]:
rollNumber = [47 ,64 ,69 ,37 ,76 ,83 ,95 ,97]
sampleDict = {"Jhon": 47,"Emma": 69,"Kelly": 76,"Jason": 97}
sampleDict_1 = sampleDict.values()
List = []
for item in rollNumber:
    if (item in sampleDict_1 ):
        List.append(item)
print(List)

[47, 69, 76, 97]

Problem 9 : Given a dictionary get all values from the dictionary and add it in a list but don't add duplicates

In [10]:
speed = {'jan': 47,'feb': 52,'march': 47,'April': 44,'May': 52,'June': 53,'july': 54,'Aug': 44,'Sept': 54}
index = speed.values()
List = []
for i in index :
    if i not in List :
        List.append(i)
print(List)

[47, 52, 44, 53, 54]

Problem 10 : Remove duplicate from a list and create a tuple and find the minimum and maximum number

In [28]:
sampleList = [87 ,45 ,41 ,65 ,94 ,41 ,99 ,94]
print("SampleList \n > ",sampleList)
List = []
for i in sampleList :
    if i not in List :
        List.append(i)
sampleList = List
print("Unique items \n > ",sampleList)
print("Tuple \n > ",tuple(sampleList))
print("Min \n > ",min(sampleList))
print('Max \n > ',max(sampleList))

SampleList
 >  [87, 45, 41, 65, 94, 41, 99, 94]
Unique items
 >  [87, 45, 41, 65, 94, 99]
Tuple
 >  (87, 45, 41, 65, 94, 99)
Min
 >  41
Max
 >  99